{:deps {:aliases [:dev]}
 :dev-http {5000 ["resources/public"]
            5001 ["resources/public/portfolio" "resources/public" "classpath:public"]
            5002 ["resources/public/test"]}
 :builds {:app {:target          :browser
                :output-dir      "resources/public/js"
                :modules         {:app {:init-fn parenthesin.front-boilerplate.core/init}}
                :dev             {:build-hooks [(teknql.tailwind/start-watch!)]}
                :release         {:build-hooks [(teknql.tailwind/compile-release!)]}
                :devtools        {:preloads [uix.preload devtools.preload]}
                :tailwind/output "resources/public/css/bundle.css"
                :tailwind/files  {:base-path "."
                                  :tailwind.css "resources/public/css/index.css"}}

          :portfolio {:target     :browser
                      :output-dir "resources/public/portfolio"
                      :asset-path "/portfolio"
                      :modules    {:main {:init-fn portfolio.core/init}}}

          :test {:target    :browser-test
                 :test-dir  "resources/public/test"
                 :ns-regexp "-test$"}

          :ci-test {:target    :karma
                    :output-to "resources/public/test/ci.js"
                    :ns-regexp "-test$"}}}
